[workspace]

resolver = "2"

members = [
    "crates/cgp-core",
    "crates/relayer-components",
    "crates/relayer-components-extra",
    "crates/relayer-all-in-one",
    "crates/relayer-mock",
    "crates/relayer-runtime",
    "crates/relayer-cosmos",
    "crates/ibc-framework",
    "crates/ibc-cosmos",
    "tools/integration-test",
    "tools/test-framework",
]

exclude = [
    "tools/check-guide",
    "tools/query-events",
]

[profile.release]
overflow-checks = true

[patch.crates-io]
ibc = { version = "0.27.0", git = "https://github.com/cosmos/ibc-rs.git", branch = "soares/relayer-next" }
ibc-relayer-types   = { git = "https://github.com/informalsystems/hermes.git", branch = "master" }
ibc-relayer         = { git = "https://github.com/informalsystems/hermes.git", branch = "master" }
ibc-telemetry       = { git = "https://github.com/informalsystems/hermes.git", branch = "master" }
# ibc-proto                        = { git = "https://github.com/cosmos/ibc-proto-rs.git",       branch = "main" }
# tendermint                       = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
# tendermint-rpc                   = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
# tendermint-proto                 = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
# tendermint-light-client          = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
# tendermint-light-client-verifier = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
# tendermint-light-client-detector = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
# tendermint-testgen               = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "main" }
