[package]
name = "hermes-wasm-client-components"
version      = { workspace = true }
edition      = { workspace = true }
license      = { workspace = true }
keywords     = { workspace = true }
repository   = { workspace = true }
authors      = { workspace = true }
rust-version = { workspace = true }
description  = """
    Context-generic client components for communicating with a 08-wasm client enabled node
"""

[dependencies]
cgp                                     = { workspace = true }
hermes-error                            = { workspace = true }
hermes-cosmos-chain-components          = { workspace = true }
hermes-relayer-components               = { workspace = true }
hermes-encoding-components              = { workspace = true }
hermes-protobuf-encoding-components     = { workspace = true }
hermes-cosmos-encoding-components       = { workspace = true }
hermes-wasm-encoding-components         = { workspace = true }

tendermint-proto                        = { workspace = true }
ibc-proto                               = { workspace = true }
ibc                                     = { workspace = true, features = ["borsh","schema","serde"] }

prost                                   = { workspace = true }
