[package]
name = "hermes-wasm-client-components"
version      = { workspace = true }
edition      = { workspace = true }
license      = { workspace = true }
keywords     = { workspace = true }
repository   = { workspace = true }
authors      = { workspace = true }
rust-version = { workspace = true }
readme       = "README.md"
description  = """
    Context-generic client components for communicating with a 08-wasm client enabled node
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cgp-core                                = { workspace = true }
cgp-error-eyre                          = { workspace = true }
hermes-cosmos-chain-components          = { workspace = true }
hermes-relayer-components               = { workspace = true }
hermes-protobuf-encoding-components     = { workspace = true }

ibc-relayer-types                       = { workspace = true }
tendermint-proto                        = { workspace = true }
sov-celestia-client                     = { git = "https://github.com/informalsystems/sovereign-ibc.git", rev = "3f37508241f21bb36e6706d6a458dd6e70afb8ab", features = ["test-util"] }
ibc-proto                               = { git = "https://github.com/cosmos/ibc-proto-rs.git", rev = "1b1d7a9" }
ibc-core                                = { git = "https://github.com/cosmos/ibc-rs.git", rev = "552863ec93", default-features = false, features = ["borsh","schema","serde"] }

eyre                                    = { workspace = true }
prost                                   = { workspace = true }
