[package]
name         = "hermes-cosmos-wasm-relayer"
version      = { workspace = true }
edition      = { workspace = true }
license      = { workspace = true }
keywords     = { workspace = true }
repository   = { workspace = true }
authors      = { workspace = true }
rust-version = { workspace = true }
description  = """
    Implementation of an IBC Relayer in Rust, as a library
"""

[package.metadata.docs.rs]
all-features = true

[dependencies]
cgp                                     = { workspace = true }
hermes-runtime-components               = { workspace = true }
hermes-logging-components               = { workspace = true }
hermes-tracing-logging-components       = { workspace = true }
hermes-encoding-components              = { workspace = true }
hermes-protobuf-encoding-components     = { workspace = true }
hermes-error                            = { workspace = true }
hermes-runtime                          = { workspace = true }
hermes-logger                           = { workspace = true }
hermes-relayer-components               = { workspace = true }
hermes-relayer-components-extra         = { workspace = true }
hermes-test-components                  = { workspace = true }
hermes-async-runtime-components         = { workspace = true }
hermes-cosmos-chain-components          = { workspace = true }
hermes-cosmos-chain-preset              = { workspace = true }
hermes-cosmos-test-components           = { workspace = true }
hermes-cosmos-integration-tests         = { workspace = true }
hermes-cosmos-relayer                   = { workspace = true }
hermes-any-counterparty                 = { workspace = true }
hermes-wasm-client-components           = { workspace = true }
hermes-wasm-encoding-components         = { workspace = true }
hermes-wasm-test-components             = { workspace = true }

ibc                                     = { workspace = true }
ibc-proto                               = { workspace = true }
tendermint                              = { workspace = true, features = ["secp256k1"] }
tendermint-proto                        = { workspace = true }
tendermint-rpc                          = { workspace = true, features = ["http-client", "websocket-client"] }

eyre            = { workspace = true }
prost           = { workspace = true }
prost-types     = { workspace = true }
tracing         = { workspace = true }
tokio           = { workspace = true }
tonic           = { workspace = true, features = ["tls", "tls-roots"] }
serde           = { workspace = true }
serde_derive    = { workspace = true }
itertools       = { workspace = true }
futures         = { workspace = true }
http            = { workspace = true }
rand            = { workspace = true }
sha2            = { workspace = true }

opentelemetry   = { version = "0.17.0", features = ["metrics"] }
moka            = { version = "0.12", features = ["future"] }
stable-eyre     = { version = "0.2.2" }