[package]
name         = "hermes-cosmos-test-components"
version      = { workspace = true }
edition      = { workspace = true }
license      = { workspace = true }
keywords     = { workspace = true }
repository   = { workspace = true }
authors      = { workspace = true }
rust-version = { workspace = true }
description  = """
    Implementation of an IBC Relayer in Rust, as a library
"""

[dependencies]
cgp                                 = { workspace = true }
hermes-runtime                      = { workspace = true }
hermes-relayer-components           = { workspace = true }
hermes-test-components              = { workspace = true }
hermes-runtime-components           = { workspace = true }
hermes-cosmos-chain-components      = { workspace = true }

ibc                                 = { workspace = true }
ibc-relayer                         = { workspace = true }
ibc-proto                           = { workspace = true }

tendermint-proto                    = { workspace = true }

http            = { workspace = true }
itertools       = { workspace = true }
serde           = { workspace = true }
serde_json      = { workspace = true }
toml            = { workspace = true }
prost           = { workspace = true }
time            = { workspace = true }
tonic           = { workspace = true }

hdpath              = { version = "0.6.3" }
sha2                = { version = "0.10.8" }
subtle-encoding     = { version = "0.5.1" }