name: Integration Tests Next
on:
  pull_request: {}
  push:
    branches: main

# Cancel previous runs of this workflow when a new commit is added to the PR, branch or tag
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cosmos-integration-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v14
        with:
          name: cosmos
          extraPullNames: informal-sovereign
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: run integration tests
        env:
          RUST_BACKTRACE: 1
        run: |
            nix shell .#cargo-nextest .#protobuf .#gaia .#celestia-app .#ibc-go-v8-simapp -c \
              cargo nextest run -p hermes-cosmos-integration-tests \
              --test-threads=2

  celestia-integration-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v14
        with:
          name: cosmos
          extraPullNames: informal-sovereign
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: run integration tests
        env:
          RUST_BACKTRACE: 1
        run: |
            nix shell .#cargo-nextest .#protobuf .#gaia .#celestia-app .#celestia-node -c \
              cargo nextest run -p hermes-celestia-integration-tests \
              --test-threads=2 \
              --failure-output final

  sovereign-integration-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SOVEREIGN_SDK_PRIVATE_SSH_KEY }}
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v14
        with:
          name: cosmos
          extraPullNames: informal-sovereign
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: run integration tests
        env:
          CHAIN_COMMAND_PATHS: simd
          RUST_BACKTRACE: 1
        run: |
            nix shell .#cargo-nextest .#protobuf .#ibc-go-v7-wasm-simapp .#celestia-app .#celestia-node .#sovereign-rollup -c \
              cargo nextest run -p hermes-sovereign-integration-tests \
              --test-threads=2 \
              --failure-output final
      - name: List directory contents
        if: failure()
        run: |
          sudo apt install librust-sha2-dev
          ls -lh crates/sovereign/sovereign-integration-tests/ibc_08-wasm_client_data/state/wasm
          sha256sum -b crates/sovereign/sovereign-integration-tests/tests/utils/sov_celestia_client_cw.wasm
          sha256sum -t crates/sovereign/sovereign-integration-tests/tests/utils/sov_celestia_client_cw.wasm
