name: Integration Tests
on:
  pull_request: {}
  push:
    branches: main

# Cancel previous runs of this workflow when a new commit is added to the PR, branch or tag
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cosmos-integration-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        preset:
          - GaiaToGaia
          - OsmosisToOsmosis
          - OsmosisToGaia
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v15
        with:
          name: hermes-sdk
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: Swatinem/rust-cache@v2
      - name: run integration tests
        env:
          RUST_BACKTRACE: 1
          TEST_PRESET: ${{ matrix.preset }}
        run: |
            nix shell .#rust .#cargo-nextest .#protobuf .#gaia .#celestia-app .#ibc-go-v8-simapp .#osmosis -c \
              cargo nextest run -p hermes-cosmos-integration-tests \
              --test-threads=2

  wasm-cosmos-integration-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v15
        with:
          name: hermes-sdk
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: Swatinem/rust-cache@v2
      - name: run integration tests
        env:
          RUST_BACKTRACE: 1
        run: |
            export WASM_FILE_PATH=$(nix build .#tendermint-wasm-client --print-out-paths --no-link)/ibc_client_tendermint_cw.wasm

            nix shell .#rust .#cargo-nextest .#protobuf .#gaia .#ibc-go-v8-wasm-simapp -c \
              cargo nextest run -p hermes-cosmos-wasm-relayer \
              --test-threads=2

  celestia-integration-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v15
        with:
          name: hermes-sdk
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: Swatinem/rust-cache@v2
      - name: run integration tests
        env:
          RUST_BACKTRACE: 1
        run: |
            nix shell .#rust .#cargo-nextest .#protobuf .#gaia .#celestia-app .#celestia-node -c \
              cargo nextest run -p hermes-celestia-integration-tests \
              --test-threads=2 \
              --failure-output final
